 <div class="row bookItem">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img src="{{book.img}}" alt="{{book.title}}">
        </div>
        <div class="card-content">
          <h4 >{{book.title}} </h4>
          <p class="price big">{{book.price}}</p>
          <p>{{book.descr}}</p>
        </div>
      </div>
    </div>
  </div>